@font-face {
  font-family: 'Pokemon';
  src: url('fonts/pokefont.ttf') format('truetype')
}
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* https://www.schemecolor.com/dragonite-pokemon.php */
:root {
  --turquoise: #31AE9D;
  --orange: #F1B46D;
  --peach: #F8EED3;
  --body-font: 'Ubuntu', sans-serif;
  --header-font: 'Pokemon', script;
}

main {
  display: grid;
  grid-template-rows: max-content repeat(2, 1fr);
  background-color: var(--peach);
}

section.my-team {
  order: 1;
  grid-row: 2;
  background-color: var(--turquoise);
}

.App {
  text-align: center;
  font-family: var(--body-font);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.grid-container {
  display: grid;
  background-color: var(--orange);
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 30px;
  list-style-type: none;
  max-width: 780px;
  grid-row: 2;
  order: 2;
}

main > h1 {
  grid-column: 1/3;
  text-align: center;
} 

.stage-icon {
  position: relative;
  margin-top: -50px;
  width: 170px;
  align-self: end;
}

.cls-1{fill:none;}.cls-2{filter:url(#svg_3_blur);}.cls-3{fill:#d7b070;}.cls-4{fill:none;stroke:#d7b070;}.cls-4,.cls-5{stroke-width:1.5px;}.cls-5{fill:#f1e27c;stroke:#f1e27c;}


@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes jump {
  0%   {transform: translate3d(0,0,0) }
  40%  {transform: translate3d(0,30%,0) }
  100% {transform: translate3d(0,100%,0) }
}
.jump {
  transform-origin: 50% 50%;
  animation: jump .5s linear alternate infinite;
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


.poke {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  justify-content: center;
  display: grid;
}

.poke_name {
  font-size: 1em;
  font-weight: normal;
}

.poke_sprite {
  margin: 0 auto;
  position: relative;
  z-index: 99;
  align-self: end;
  min-height: 50px;
  max-height: 70px;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.poke_sprite:hover {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* pokemon types */

.type {
  vertical-align: text-bottom;
  display: inline-block;
  width: 60px;
  height: 15px;
  padding-top: 2px;
  margin-right: 5px;
  font-size: .7em;
  background-color: #CBC9CB;
  background: linear-gradient(#CBC9CB, #AAA6AA);
  border: 1px solid #A99890;
  border-radius: 3px;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 1px 1px 1px #333333;
  text-transform: uppercase;
}

div.type {
  color: #FFFFFF;
  text-decoration: none;
}

.type.grass {
  background-color: #78C850;
  background: linear-gradient(#78C850, #5CA935);
  border-color: #4A892B;
}

.type.poison {
  background-color: #A040A0;
  background: linear-gradient(#A040A0, #803380);
  border-color: #662966;
}
